@import "tailwindcss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family:Montserrat ;
  color: #1a1a1a;
  background: #fff;
}

.contact-top {
  position: relative;
  overflow: visible;
}



.font-playfair {
  font-family: 'Playfair Display', serif;
}


.active{border:1px solid #e71932}